<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MultiScad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MultiScad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiScad.Properties.Settings>
            <setting name="polygonPrimaryHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="polygonSecondaryHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="polygonPrimarySelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="polygonSecondarySelection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="polygonHollowSelection" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainDir" serializeAs="String">
                <value>C:\MultiScad\</value>
            </setting>
            <setting name="layers" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="showLayersForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="layersPinned" serializeAs="String">
                <value>True</value>
            </setting>
        </MultiScad.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MultiScad.Properties.Settings>
            <setting name="forcePolygonDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="forceBookmarkDisabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forceFormCutterDisabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forceKeychainDisabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forceReserved1Disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="forceReserved2Disabled" serializeAs="String">
                <value>True</value>
            </setting>
        </MultiScad.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
